* {
  --gray: rgb(199, 199, 199);
}
.hero {
  background-color: var(--gray);
  width: 100%;
  height: calc(23vh - 60px);
}
.skeleton-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 580px;
  margin: 0 auto;
  margin-top: 70px;
  padding: 0 1rem;
  height: calc(70vh - 70px);
}

.skeleton-item {
  background: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden;
  height: 120px;
  margin-bottom: 1rem;
  width: 100%;
  max-width: 580px;
}

.skeleton-item__container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
  padding: 1rem;
}
